<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DATA DRIVEN FRAMEWORK FOR FACEBOOK">

<test name="Login test 1">
    <classes>
        <class name="DD_Testcases.LoginTest" ></class>  
    </classes>
</test>

<!-- 
<test name="Running test 2">
    <classes>
        <class name="test_2" ></class>  
    </classes>
</test> -->


</suite>
